body {
	background-color: rgb(10, 10, 10);
	background-image: url("");
	background-repeat: repeat;
	margin: 0px 0px;
}

header {
	text-align: left;
	width: 100%;
	height: 48px;
    border-bottom: 2px solid rgba(5, 134, 255, 1);
    background-color: rgba(25, 25, 25, 1);
	color: rgba(5, 134, 255, 1);
	font-size: 40px;
    font-family: 'Lexend Zetta', sans-serif;
	text-decoration: none;
}

.youtube {
	width: 36px;
	position: absolute;
	top: 15px;
	right: 8px;
}

.twitch {
	width: 36px;
	position: absolute;
	top: 10px;
	right: 54px;
}

.videos {
	color: rgba(5, 172, 255, 1);
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;
    transition: color .6s;
	text-decoration: none;
	position: absolute;
	left: 10px;
	top: 65px;
}
.videos:hover {
	color: rgba(255, 0, 0, 1);
    transition: color .6s;
	text-decoration: none;
}

.mods {
	color: rgba(5, 172, 255, 1);
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;
    transition: color .6s;
	text-decoration: none;
	position: absolute;
	left: 160px;
	top: 65px;
}
.mods:hover {
	color: rgba(255, 0, 0, 1);
    transition: color .6s;
	text-decoration: none;
}

.home {
	color: rgba(5, 172, 255, 1);
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;
    transition: color .6s;
	text-decoration: none;
	position: absolute;
	right: 10px;
	top: 65px;
}
.home:hover {
	color: rgba(255, 0, 0, 1);
    transition: color .6s;
	text-decoration: none;
}

.changelog {
	color: rgba(255, 0, 0, 1);
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;
    transition: color .6s;
	position: absolute;
	left: 285px;
	top: 65px;
	text-decoration: none;
}

.c1 {
	position: absolute;
	top: 140px;
	left: 10px;
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 22px;
	text-align: center;
	color: rgba(255, 0, 0, 1);
}

.c2 {
	position: absolute;
	top: 180px;
	left: 10px;
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 22px;
	text-align: center;
	color: rgba(255, 0, 0, 1);
}
.c2a {
	position: absolute;
	top: 210px;
	left: 50px;
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 22px;
	text-align: center;
	color: rgba(255, 0, 0, 1);
}
.c2b {
	position: absolute;
	top: 240px;
	left: 50px;
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 22px;
	text-align: center;
	color: rgba(255, 0, 0, 1);
}

.c3 {
	position: absolute;
	top: 280px;
	left: 10px;
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 22px;
	text-align: center;
	color: rgba(255, 0, 0, 1);
}

.c4 {
	position: absolute;
	top: 320px;
	left: 10px;
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 22px;
	text-align: center;
	color: rgba(255, 0, 0, 1);
}
.c4a {
	position: absolute;
	top: 350px;
	left: 50px;
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 22px;
	text-align: center;
	color: rgba(255, 0, 0, 1);
}

.c5 {
	position: absolute;
	top: 390px;
	left: 10px;
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 22px;
	text-align: center;
	color: rgba(255, 0, 0, 1);
}
.c5a {
	position: absolute;
	top: 420px;
	left: 50px;
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 22px;
	text-align: center;
	color: rgba(255, 0, 0, 1);
}

